{% extends "../base.html" %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Clientes</h3>                 
                <div class="card-tools">
                  <ul class="pagination pagination-sm m-0 float-right">
                    {% if page_obj.has_previous %}                        
                        <li class="page-item"><a class="page-link" href="?page=1">«</a></li>                        
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                    {% endif %}
                                        
                    
                    <li class="page-item active"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>

                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>                        
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">»</a></li>
                    {% endif %}                    
                  </ul>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table">
                  <thead>
                    <tr>
                      <th style="width: 10px">Nombre</th>
                      <th>Centro de Acopio</th>                      
                      <th >Se unió</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for client in client_list %}
                    <tr>
                      <td>{{ client }}</td>
                      <td>
                        {% if client.collection_center %}
                            
                            <span class="text-success text-bold">{{ client.collection_center }}</span>
                        {% else %}
                            <span class="text-danger text-bold"> No aplica</span>
                        {% endif %}                        
                      </td>                        
                      <td>{{ client.date_joined }}</td>              
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            
          </div>
        </div>
    </div>
{% endblock %}