<div class="single-product mb-35">
    <div class="product-img">
        <a href="{% url 'detalle_producto' pk=product.id %}"><img style="max-height:200px;" src="{{ product.image }}" alt=""></a>
        <span>{{ product.typeText }}</span>       
    </div>
    <div class="product-content">
        <div class="product-title-price">
            <div class="product-title">
                <h4><a href="{% url 'detalle_producto' pk=product.id %}">{{ product.name }}</a></h4>
            </div>
            <div class="product-price">
                <span>$ {{ product.price }}</span>
            </div>
        </div>
        <div class="product-cart-categori">
            <div class="product-cart">
                <span>{{ product.category }}</span>
            </div>
            <div class="product-categori" style="top:-10px;">
                <form action="{% url 'create-item-cart' product.id %}" method="post">{% csrf_token %}
                    <input type="hidden" value="1" name="quantity" id="quantity" class="cart-plus-minus-box">
                    <button class="btn btn-link btn-sm text-danger" type="submit">
                        <i class="ion-bag"></i> Añadir
                    </button>                    
                </form>
                
            </div>
        </div>
    </div>
</div>