<div class="single-product mb-35">
    <div class="product-img">
        <a href="{% url 'detalle_producto' pk=product.id %}"><img src="{{ product.image }}" alt=""></a>
        <span>{{ product.typeText }}</span>
        <div class="product-action">
            <a title="Wishlist" class="animate-left" href="{% url 'detalle_producto' pk=product.id %}"><i class="ion-ios-heart-outline"></i></a>
            <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
        </div>
    </div>
    <div class="product-content">
        <div class="product-title-price">
            <div class="product-title">
                <h4><a href="{% url 'detalle_producto' pk=product.id %}">{{ product.name }} </a></h4>
            </div>
            <div class="product-price">
                <span>$ {{ product.price }}</span>
            </div>
        </div>
        <div class="product-cart-categori">
            <div class="product-cart">
                <span>{{ product.category }}</span>
            </div>
            <div class="product-categori">
                <a href="#"><i class="ion-bag"></i> Añadir</a>
            </div>
        </div>
    </div>
</div>