{% load static %}

<div class="slider-area">
    <div class="slider-active owl-carousel">
    <div class="single-slider single-slider-hm1 bg-img ptb-260" style="height:700px; background-image: url({% static '/web/img/slider/slider_1.jpg' %})">
        <div class="container slider-animated-1">
            <div class="slider-content slider-content-style-1 container-slider-home">
                <h3 class="animated">COVID <span style="color:#fff;">19.</span></h3>
                <h2 class="animated" style="color:#fff;">En apoyo a la contingencia</h2>
                
                <!-- <a class="btn-hover slider-btn-style animated text-white" href="shop-grid-view-sidebar.html">shop now</a>-->
            </div>
        </div>
    </div>
    <div class="single-slider single-slider-hm1 bg-img  ptb-260" style="height:700px; background-image: url({% static '/web/img/slider/slider_2.jpg' %})">
        <div class="container">
            <div class="slider-content slider-content-style-1 slider-animated-2 slider-text-right container-slider-home float-right">
                <h3 class="animated text-white">En ayuda a <span>Todos.</span></h3>
                <h2 class="animated text-white">#UnidosPodemos</h2>
                <div class="slide-right-pera">
                <p class="animated text-white">Revisa los Centros de acopio disponibles</p>
                </div>                     
            </div>
        </div>
    </div>
    </div>
</div>